
.navbar{
	height: 50px;
	background-color: green;
	border: 5px solid black;
}

.img{
	height: 50px;
	width: 150px;
}

.navbar a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin: 0px 0px 300px 200px;

}

.navbar .input{
	margin-left: 280px;
}